<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Board Game Cafe{% endblock %}</title>
</head>
<body>
    <header>
        <h1>Board Game Cafe</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/admin/">Admin</a></li>
                <li><a href="{% url 'games' %}">Games</a></li>
                <li><a href="{% url 'login' %}">Login</a></li>
                <li><a href="{% url 'register' %}">Registration</a></li>
                <li><a href="{% url 'games_reservation' %}">Reservation</a></li>
                <form method="post" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <button>Logout</button>
                </form>
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>Board Game Cafe</p>
    </footer>
</body>
</html>
