{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Board Game Cafe{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <nav>
            <div>
            <h1>Board Game Cafe</h1>
            </div>
            <div>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/admin/">Admin</a></li>
                <li><a href="{% url 'games' %}">Games</a></li>
                <li><a href="{% url 'login' %}">Login</a></li>
                <li><a href="{% url 'register' %}">Registration</a></li>
                <li><a href="{% url 'games_reservation' %}">Reservation</a></li>
            </ul>
            </div>
                <div>
                <form method="post" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <button>Log out</button>
                </form>
                </div>
            </div>
        </nav>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <div>
            <p>Board Game Cafe 2025. All rights reserved.</p>
        </div>
        <div>
            <p>+44 111 222 333</p>
            <p>bgcafe@email.com</p>
            <p>221b Baker Street, London</p>
        </div>
    </footer>
</body>
</html>
