{% extends 'base.html' %}

{% block title %}Our collection{% endblock %}

{% block content %}
<ol>
    {% for game in games %}
    <li>{{ game }}</li>
    {% endfor %}
</ol>
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
        {% endif %}

        {% for i in page_obj.paginator.page_range %}
            {% if i == page_obj.number %}
                <strong>{{ i }}</strong>
            {% else %}
                <a href="?page={{ i }}">{{ i }}</a>
            {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">Next</a>
        {% endif %}
    </span>
</div>
{% endblock %}
