body, head {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
    margin: 10px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: dimgray;
    color: white;
    padding: 10px 20px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

nav form button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    color: white;
    background-color: gray;
    border: none;
    border-radius: 2px;
    outline: 1px darkgray solid;
    height: 50px;
    width: 100px;
    font-size: 15px;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: dimgray;
    color: white;
    padding: 10px 20px;
    font-size: 12px;
}

footer p {
    margin: 3px 0;
    line-height: 1;
    text-align-last: right;
}

.game-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 50px;
    padding: 20px;
}

.game-item {
    text-align: center;
}

.game-thumbnail {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 2px;
}

.game-title {
    margin-top: 10px;
    font-size: 14px;
    font-weight: bold;
    color: black;
    word-wrap: break-word;
    text-decoration: none;
}

.form {
    display: flex;
    padding: 20px;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    outline: 1px gray solid;
    border-radius: 2px;
    height: auto;
    width: 400px;
}

.form-container {
    display: flex;
    justify-content: center;
    align-content: center;
}

.form form label {
    margin-bottom: 10px;
    font-weight: bold;
}

.form p {
    display: flex;
    flex-direction: column;
}

.helptext {
    display: block;
    margin: 10px;
}

.form-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

.submit-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

input[type=submit] {
    color: black;
    border: none;
    border-radius: 2px;
    outline: 1px dimgray solid;
    height: 50px;
    width: 100px;
    font-size: 15px;
}

.register-here-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    background-color: lightgray;
    border: none;
    border-radius: 2px;
    outline: 1px dimgray solid;
    height: 50px;
    width: 100px;
    font-size: 15px;
    text-decoration: none;
}

.register-here-button-container {
    display: flex;
    justify-content: center;
    align-content: center;
}
